<!doctype html> <html lang="en">  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Pick starting point</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Results for {{name}}</h2>
	  <p>Your collaborator's field is {{cf}} </p>

	 <form action='results'>

	  <p>Your research area is {{ra}} </p>
		<p> <label for="start_node"> Which of these researchers is closest to you/your work? (start node)</label></p>
		<select name="start_node", id="starts">
		<option value="R1">{{myR1}}</option><br>
		<option value="R2">{{myR2}}</option><br>
		<option value="R3">{{myR3}}</option><br>
</select>
</form>
<form action='results'>
<p><label for="target_node">Choose a potential collaborator</label></p>
		<select name="target_node", id="target">
		<option value="C1">{{myC1}}</option><br>
		<option value="C2">{{myC2}}</option><br>
		<option value="C3">{{myC3}}</option><br>


</select>

</form>
		<p><a href="results">Go to results</a></p>

		<p><a href="userinfo">Go Back</a></p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

