<!doctype html>
<title>MBE APP</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>MBE Matchmaker</h1>
  <div class=metanav>

    <h4>
      Welcome.  Please fill in the information: 
     
    </h4>

    <form id='userinfoform' method='post' action='about2' >
      <p>
    Name: <input type='text' name='name_lulu' />
      </p>

       <p>
      <label for="source_field">What is YOUR field?</label>
<p>
<select name="source_field" id="src_fld">
  <option value="psych">Psychology</option>
  <option value="neuro">Neuroscience</option>
  <option value="edu_r">Education Research</option>
</select>
</p>

<p>
 <label for="destination_field">What field do you want to collaborate with?</label>
</p>
<p>
<select name="destination_field" id="dst_fld">
  <option value="Psychology">Psychology</option>
  <option value="Neuroscience">Neuroscience</option>
  <option value="Education Research">Education Research</option>
</select>
</p>
<p>
 <label for="topic">What do you study?:</label>
</p>
<p>
<select name="topic" id="topic">
  <option value="Learning & Memory">Learning & Memory</option>
  <option value="Computational Modelingmodel">Computational Modeling</option>
  <option value="Math education">Math education or math cognition</option>
  <option value="Reading">Reading/Literacy</option>
  <option value="STEM">STEM learning</option>
  <option value="Social/Emotional">Social/Emotional aspects of learning</option>
</select>
</p>


<p>


    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>
