<!doctype html>
<title>MBE APP</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>MBE Matchmaker</h1>
  <div class=metanav>

    <h4>
      Welcome.  Please fill in the information: 
     
    </h4>

    <form id='userinfoform' method='post' action='about2' >
      <p>
    Name: <input type='text' name='name' />
      </p>

       <p>
      <label for="source_field">What is YOUR research area?</label>
<p>
<select name="source_field" id="src_fld">
  <option value="math">Math</option>
  <option value="reading">Reading</option>
  <option value="other">other</option>	
</select>
</p>

      <label for="source_field2">What is YOUR primary method?</label>
<p>
<select name="source_field2" id="src_fld">
  <option value="fmri">fMRI</option>
  <option value="eeg">EEG</option>
  <option value="other">other</option>
</select>
</p>



<p>
 <label for="destination_field">What field do you want to collaborate with?</label>
</p>
<p>
<select name="destination_field" id="dst_fld">
  <option value="math">Math</option>
  <option value="reading">Reading</option>
  <option value="other">other</option>
</select>
</p>
<p>
 <label for="topic">Desired collaborator's primary method:</label>
</p>
<p>
<select name="topic" id="topic">
  <option value="eeg">EEG</option>
  <option value="fmri">fMRI</option>
  <option value="other">other</option>
</select>
</p>


<p>


    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
<a href="\"> Go Back </a>
</div>
</html>
